- title @series.name

- if @series.submissions.any?

  %ul
    - for submission in @series.submissions
      %li{:id => "submission-#{submission.id}"}
        %span.name= submission.name
        ="(#{pluralize(submission.votes.count, 'vote')})"
        =vote_button(submission) if user_signed_in?

- else
  There are no submissions

- if user_signed_in?
  %p= link_to "New Submission", new_series_submission_path(@series)

%p
  = link_to "View All", series_path
